<div id="<%= dom_id question %>">
  <p>
    <strong>User:</strong>
    <%= question.user_id %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= question.subject %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= question.body %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= question.deadline %>
  </p>

</div>
