<div class="hero bg-white py-12">
    <div class="shrink-0 shadow-xl bg-base-100 bg-white rounded-2xl w-2/5 min-w-96">
    <%= form_with model: @form, url: questions_path, class:"card-body" do |f| %>
      <div class="flex justify-center text-2xl">質問作成</div>
      <div class="form-control">
        <%= render 'layouts/error_message', model: @form %>
      </div>
      <div class="form-control">
        <%= f.label:subject,class:"label label-text" %>
        <%= f.text_area :subject, class:'textarea textarea-success w-full', placeholder:"テーマ" %>
      </div>
      <div class="form-control">
        <%= f.label:body,class:"label label-text" %>
        <%= f.text_area :body, class: 'textarea textarea-success w-full', placeholder:"本文" %>
      </div>
      <div class="form-control">
        <div class="label label-text">締切期間</div>
        <div class="flex w-full space-x-1">
          <%= f.date_field :deadline_date, min:Date.tomorrow, class:'w-full border border-green-600 rounded'%>
          <%= f.select :deadline_time, (0..23).map(&:to_s), { include_blank: "時間" }, class:'w-full border border-green-600 rounded'%>
        </div>
      </div>
      <div class="form-control label-text">業種</div>
      <div class='grid grid-rows-3 grid-flow-row grid-flow-col'>
        <%= f.collection_check_boxes :profession_ids, @industries, :last, :first, include_hidden: false do |q| %>
          <div class='flex items-center'>
            <%= q.check_box(class: 'checkbox checkbox-success checkbox-xs') %>
            <%= q.label {q.text} %>
          </div>
        <% end %>
      </div>
      <div class="form-control mt-4">
        <%= f.submit "質問を作成する", class: "btn bg-green-500 hover:bg-green-600 w-full" %>
      </div>
    <% end %>
    <div class="form-control">
    </div>
    </div>
</div>