<div class="hero bg-white py-28">
    <div class="shrink-0  shadow-2xl bg-base-100 bg-white rounded-2xl w-2/5 min-w-96">
    <%= form_with model: @user, class:"card-body" do |f| %>
      <div class="form-control">
        <%= render 'layouts/error_message', model: @user %>
      </div>
      <div class="form-control">
        <%= f.label:name,class:"label label-text" %>
        <%= f.text_field :name, class:'input input-bordered input-success w-full', placeholder:"名前" %>
      </div>
      <div class="form-control">
        <%= f.label:introduction,class:"label label-text" %>
        <%= f.text_field :introduction, class: 'input input-bordered input-success w-full', placeholder:"自己紹介" %>
      </div>
      <div class="form-control mt-4">
        <%= f.submit "編集する", class: "btn bg-green-500 hover:bg-green-600" %>
      </div>
    <% end %>
    <div class="form-control">
    </div>
    </div>
</div>